@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";

.mdc-custom-dots-button {
    color: white;
    padding: 8px;
    text-align: center;
    overflow: visible;
    background-color: transparent;
    font-size: 1.5rem;
    margin: 0px;
    border: 0px;
    outline: 0px;
    display: inline-flex;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    visibility: hidden;

    &:focus {
        border: 0px;
        outline: 0px;
    }

    &:active {
        visibility: visible;
    }
}

.mdc-menu-surface--anchor {
    position: absolute;
}

.mdc-custom-manu-container {
    width: 100%;
    display: flex;
}