@use "@material/button/styles";

.mdc-custom-button {


    &:hover {
        @extend .mdc-custom-button;
    }

    &:focus {
        outline: none !important;
        background-color: transparent;
    }
}

.mdc-custom-button-icon {
    display: contents !important;
}