@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";

.mdc-custom-list-column-menu {
    max-height: 400px;
    overflow: auto;
}

.mdc-custom-menu-column {
    overflow: hidden !important;

    &>.header-column-menu {
        padding: 4px;

        &>label {
            width: 100%;
        }
    }

    &>.footer-column-menu {
        padding: 4px;
        display: flex;
        justify-content: space-between;
    }
}